@font-face {
    font-family: 'atom';
    src: url('../../AtomedBold.otf') format('opentype'); /* add the .otf file here */
    font-weight: normal; /* you can also specify other font weights/styles here */
    font-style: normal;
  }

.display-page{
    padding: 20px;    
}

.display-page .logo{
    display: flex;
    justify-content: center;
}

.display-page .logo img{
    width:auto;
    height:180px;
}

.display-page .profile{
    font-family: 'atom';
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    margin: 0px 5px 35px 5px;
}

.display-page .greeting{
    font-family: 'atom';
    display: flex;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    margin: 35px 5px 35px 5px;
}

.display-page .credential-container {
    display: flex;
    justify-content: center;

}

.display-page .credential-container .credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 12px;
    padding: 10px 50px 25px 50px;
    width: max-content;
    fill-opacity: 50%;
    height:fit-content;
}

.display-page .credential-container .credentials .cred-element,
.display-page .credential-container .credentials .log-out
{
    display: flex;
    justify-content: center;
}

.log-out{
  color: aliceblue;
  background-color: #212425;
  text-decoration: none;
  border: none;
  font-family:monospace;
  text-shadow: 1px 1px 1px rgb(113, 112, 112);
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px 20% 10px 20%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cred-element p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.userField
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    display:'flex';
    justify-content:"center";
    align-items: center;
    padding-bottom: 10px;
}
.userValue
{
    display:'flex';
    justify-content:"center";
    align-items: center;
    font-size: large;
}


  .log-out:hover{
    background-color: #0d9aff;
    color: black;
  }

  .log-out span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
  }
  .log-out span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .log-out:hover span {
    padding-right: 15px;
  }
  .log-out:hover span:after {
    opacity: 1;
    right: 0;
  }

.developer
{
    text-align: center;
    font-family:monospace;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(113, 112, 112);
}
a{
    font-family: 'atom';
    text-decoration: none;
}