@font-face {
    font-family: 'Valneck';
    src: url('../Valneck.otf') format('opentype'); /* add the .otf file here */
    font-weight: normal; /* you can also specify other font weights/styles here */
    font-style: normal;
  }

  .login-heading
  {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      padding-top: 35px;
      font-family: 'Valneck', sans-serif;
  }

  .login-mainPage
  {
    height:130vh;
    padding-top: 1%;
  }

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width:auto;
    height:180px;
}

  