@font-face {
  font-family: 'atom';
  src: url('../AtomedBold.otf') format('opentype'); /* add the .otf file here */
  font-weight: normal; /* you can also specify other font weights/styles here */
  font-style: normal;
}

  .login-heading
  {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-family: 'atom', sans-serif;
      text-shadow: 1px 1px 1px rgb(113, 112, 112);
  }

  .login-mainPage
  {
    height:100%;
    padding-top: 0.5%;
    padding-bottom: 5%;
  }

.logo{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.logo img{
    width:auto;
    height:240px;
}

  